$primaryBlue: #242f58;
$secondaryBlue: #3538cd;
$primaryYellow: #f79009;
$colorWhite: #fff;
$outlineDefault: #eaecf0;

$outlineDefautDarkest: #b9c0d4;
$colorSuccess: #027a48;
$colorWarning: #fb6514;
$colorError: #e92c2c;
$colorBlue: #252f59;
$colorLightBlue: #6172f3;
$colorBlack: #000;
$colorOverdue: #C82601;
$colorLightRed: #FFE4E8;
$colorLightSky: #EBF1FF;
$colorLightPink: #f63d68;
$colorShadowPink: #FEE4E2;
$colorOutlines: #00000080;

//text colors
$textPrimary: #000000de;
$textSecondary: #00000099;
$textTertiary: #344054;
$textGray: #667085;
$textInverse: #ffffff;
$textDisabled: #00000061;
$textDark: #101828;
$textInfo: #3538cd;
$textRed: #c01048;

// border colors
$borderPrimary: #eaecf0;
$borderRed: #F63D68;
$borderGreen: #12B76A;

// background colors
$backgroundPrimary: #fff;
$backgroundSecondary: #e0eaff;
$backgroundLightBlue: #f9fafb;
$backgroundSecondaryBlue: #f5f8ff;
$backgroundLightGreen: #ECFDF3;
$backgroundInfo: #eef4ff;
$backgroundLightRed: #fff1f3;
$backgroundDark: #0000000d;
$bacgroundWarning: #fff6ed;
$backgroundCharts: #fffaf5;

//states colors
$stateHover: #2e4b70;
$stateDisabled: #0000003b;
$stateFocus: #000;

$successHover: #054f31;
$warningHover: #c4320a;
$errorHover: #d62424;
$outlineSuccessHover: #027a481a;
$outlineWarningHover: #fb65141a;
$outlineErrorHover: #e92c2c1a;

$textPrimaryHover: #242f581a;

$primaryFontFamily: Inter;
